/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.CreditStatusResponse
import ai.ciris.api.models.GooglePlayVerifyRequest
import ai.ciris.api.models.GooglePlayVerifyResponse
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.PurchaseInitiateRequest
import ai.ciris.api.models.PurchaseInitiateResponse
import ai.ciris.api.models.PurchaseStatusResponse
import ai.ciris.api.models.TransactionListResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BillingApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Credits
     * Get user&#39;s credit balance and status.  Works with both: - SimpleCreditProvider (1 free credit per OAuth user, no billing backend needed) - CIRISBillingProvider (full billing backend with paid credits)  The frontend calls this to display credit status.
     * @param authorization  (optional)
     * @return CreditStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCreditsV1ApiBillingCreditsGet(authorization: kotlin.String? = null): HttpResponse<CreditStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/billing/credits",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Purchase Status
     * Check payment status (optional - for polling after payment).  Frontend can poll this after initiating payment to confirm credits were added. Only works when CIRIS_BILLING_ENABLED&#x3D;true (CIRISBillingProvider).
     * @param paymentId
     * @param authorization  (optional)
     * @return PurchaseStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPurchaseStatusV1ApiBillingPurchaseStatusPaymentIdGet(paymentId: kotlin.String, authorization: kotlin.String? = null): HttpResponse<PurchaseStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/billing/purchase/status/{payment_id}".replace("{" + "payment_id" + "}", "$paymentId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Transactions
     * Get transaction history for the current user.  Returns a paginated list of all transactions (charges and credits) in reverse chronological order.  Only works when CIRIS_BILLING_ENABLED&#x3D;true (CIRISBillingProvider). Returns empty list when SimpleCreditProvider is active (billing disabled).
     * @param limit  (optional, default to 50)
     * @param offset  (optional, default to 0)
     * @param authorization  (optional)
     * @return TransactionListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTransactionsV1ApiBillingTransactionsGet(limit: kotlin.Int? = 50, offset: kotlin.Int? = 0, authorization: kotlin.String? = null): HttpResponse<TransactionListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/billing/transactions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Initiate Purchase
     * Initiate credit purchase (creates Stripe payment intent).  Only works when CIRIS_BILLING_ENABLED&#x3D;true (CIRISBillingProvider). Returns error when SimpleCreditProvider is active (billing disabled).
     * @param purchaseInitiateRequest
     * @param authorization  (optional)
     * @return PurchaseInitiateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun initiatePurchaseV1ApiBillingPurchaseInitiatePost(purchaseInitiateRequest: PurchaseInitiateRequest, authorization: kotlin.String? = null): HttpResponse<PurchaseInitiateResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = purchaseInitiateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/api/billing/purchase/initiate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Verify Google Play Purchase
     * Verify a Google Play purchase and add credits.  This endpoint proxies the verification request to the billing backend, which validates the purchase token with Google Play and adds credits.  Supports two authentication modes: 1. Server mode: Uses CIRIS_BILLING_API_KEY (agents.ciris.ai) 2. JWT pass-through: Uses Bearer token from request (Android/native)  Only works when CIRISBillingProvider is configured.
     * @param googlePlayVerifyRequest
     * @param authorization  (optional)
     * @return GooglePlayVerifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun verifyGooglePlayPurchaseV1ApiBillingGooglePlayVerifyPost(googlePlayVerifyRequest: GooglePlayVerifyRequest, authorization: kotlin.String? = null): HttpResponse<GooglePlayVerifyResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = googlePlayVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/api/billing/google-play/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
