/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.ConnectorRegistrationRequest
import ai.ciris.api.models.ConnectorUpdateRequest
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.StandardResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ConnectorsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Delete Connector
     * Remove a connector from the system.  This is a destructive operation and cannot be undone.  Requires admin privileges.
     * @param connectorId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteConnectorV1ConnectorsConnectorIdDelete(connectorId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/connectors/{connector_id}".replace("{" + "connector_id" + "}", "$connectorId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Connectors
     * List all registered connectors.  Optionally filter by connector_type (sql, rest, hl7).  Requires admin privileges.
     * @param connectorType  (optional)
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listConnectorsV1ConnectorsGet(connectorType: kotlin.String? = null): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        connectorType?.apply { localVariableQuery["connector_type"] = listOf("$connectorType") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/connectors/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Register Sql Connector
     * Register a new SQL database connector.  Requires admin privileges.  The connector will be registered with the tool bus and made available for multi-source DSAR operations.  Configuration must include: - connector_name: Human-readable name - database_type: postgres, mysql, sqlite, etc. - host, port, database, username, password - privacy_schema: YAML defining PII columns (optional)
     * @param connectorRegistrationRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun registerSqlConnectorV1ConnectorsSqlPost(connectorRegistrationRequest: ConnectorRegistrationRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = connectorRegistrationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/connectors/sql",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Test Connector
     * Test connector connection health.  Attempts a test query or connection to verify the connector is working.  Requires admin privileges.
     * @param connectorId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun testConnectorV1ConnectorsConnectorIdTestPost(connectorId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/connectors/{connector_id}/test".replace("{" + "connector_id" + "}", "$connectorId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update Connector
     * Update connector configuration.  Can update configuration fields or enable/disable the connector.  Requires admin privileges.
     * @param connectorId
     * @param connectorUpdateRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateConnectorV1ConnectorsConnectorIdPatch(connectorId: kotlin.String, connectorUpdateRequest: ConnectorUpdateRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = connectorUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/v1/connectors/{connector_id}".replace("{" + "connector_id" + "}", "$connectorId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
