/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.DSARRequest
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.StandardResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DSARApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Check Dsar Status
     * Check the status of a DSAR request.  Anyone with the ticket ID can check status (like a tracking number).
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkDsarStatusV1DsarTicketIdGet(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dsar/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Deletion Status
     * Get deletion progress for a DSAR deletion request.  This endpoint tracks the 90-day decay protocol progress for deletion requests. Anyone with the ticket ID can check status (like a tracking number).
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDeletionStatusV1DsarTicketIdDeletionStatusGet(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dsar/{ticket_id}/deletion-status".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Dsar Requests
     * List all DSAR requests (admin only).  This endpoint is for administrators to review pending requests.
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listDsarRequestsV1DsarGet(): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dsar/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Submit Dsar
     * Submit a Data Subject Access Request (DSAR).  This endpoint handles GDPR Article 15-22 rights: - Right of access (Article 15) - INSTANT automated response with full data - Right to rectification (Article 16) - Right to erasure / \&quot;right to be forgotten\&quot; (Article 17) - Triggers decay protocol - Right to data portability (Article 20) - INSTANT automated export  DELETE requests trigger Consensual Evolution Protocol: - Immediate identity severance - 90-day pattern decay - Safety patterns may be retained (anonymized)  ACCESS and EXPORT requests use automated DSAR service for instant responses.  Returns a ticket ID for tracking the request.
     * @param dsARRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun submitDsarV1DsarPost(dsARRequest: DSARRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = dsARRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/dsar/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Update Dsar Status
     * Update the status of a DSAR request (admin only).  Status workflow: - pending_review → in_progress → completed/rejected
     * @param ticketId
     * @param newStatus
     * @param notes  (optional)
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateDsarStatusV1DsarTicketIdStatusPut(ticketId: kotlin.String, newStatus: kotlin.String, notes: kotlin.String? = null): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        newStatus?.apply { localVariableQuery["new_status"] = listOf("$newStatus") }
        notes?.apply { localVariableQuery["notes"] = listOf("$notes") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/dsar/{ticket_id}/status".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
