/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ResponseGetSystemStatusV1TransparencyStatusGetValue
import ai.ciris.api.models.SuccessResponseEmergencyShutdownStatus
import ai.ciris.api.models.WASignedCommand

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class EmergencyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Emergency Shutdown
     * Execute emergency shutdown with cryptographically signed command.  This endpoint requires no authentication - the signature IS the authentication. Only accepts SHUTDOWN_NOW commands signed by authorized Wise Authorities.  Security checks: 1. Valid Ed25519 signature 2. Timestamp within 5-minute window 3. Public key is authorized (ROOT WA or in trust tree) 4. Command type is SHUTDOWN_NOW  Args:     command: Cryptographically signed shutdown command  Returns:     Status of the emergency shutdown process  Raises:     HTTPException: If any security check fails
     * @param waSignedCommand
     * @return SuccessResponseEmergencyShutdownStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun emergencyShutdownEmergencyShutdownPost(waSignedCommand: WASignedCommand): HttpResponse<SuccessResponseEmergencyShutdownStatus> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = waSignedCommand

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/emergency/shutdown",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Test Emergency Endpoint
     * Test endpoint to verify emergency routes are mounted.  This endpoint requires no authentication and simply confirms the emergency routes are accessible.
     * @return kotlin.collections.Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun testEmergencyEndpointEmergencyTestGet(): HttpResponse<kotlin.collections.Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/emergency/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<TestEmergencyEndpointEmergencyTestGetResponse>().map { value }
    }

    @Serializable(TestEmergencyEndpointEmergencyTestGetResponse.Companion::class)
    private class TestEmergencyEndpointEmergencyTestGetResponse(val value: Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>) {
        companion object : KSerializer<TestEmergencyEndpointEmergencyTestGetResponse> {
            private val serializer: KSerializer<Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>> = serializer<Map<String, ResponseGetSystemStatusV1TransparencyStatusGetValue>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: TestEmergencyEndpointEmergencyTestGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = TestEmergencyEndpointEmergencyTestGetResponse(serializer.deserialize(decoder))
        }
    }

}
