/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.StandardResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PartnershipApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Decide Partnership
     * User decides on a partnership request (accept/reject/defer).  This endpoint handles BOTH flows with equal moral agency: 1. User responding to agent-initiated partnership request 2. Agent responding to user-initiated partnership request (via SDK)  Both parties have equal autonomy in the bilateral consent process.  Request body:     {         \&quot;task_id\&quot;: \&quot;partnership_user123_abc123\&quot;,         \&quot;decision\&quot;: \&quot;accept\&quot; | \&quot;reject\&quot; | \&quot;defer\&quot;,         \&quot;reason\&quot;: \&quot;Optional reason for decision\&quot;     }  Returns:     StandardResponse with decision confirmation and updated consent status
     * @param requestBody
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun decidePartnershipV1PartnershipDecidePost(requestBody: kotlin.collections.Map<kotlin.String, kotlinx.serialization.json.JsonElement>): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = DecidePartnershipV1PartnershipDecidePostRequest(requestBody ?: emptyMap())

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/partnership/decide",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    @Serializable(DecidePartnershipV1PartnershipDecidePostRequest.Companion::class)
    private class DecidePartnershipV1PartnershipDecidePostRequest(val value: Map<kotlin.String, kotlinx.serialization.json.JsonElement>) {
        companion object : KSerializer<DecidePartnershipV1PartnershipDecidePostRequest> {
            private val serializer: KSerializer<Map<kotlin.String, kotlinx.serialization.json.JsonElement>> = serializer<Map<String, kotlinx.serialization.json.JsonElement>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: DecidePartnershipV1PartnershipDecidePostRequest) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = DecidePartnershipV1PartnershipDecidePostRequest(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Partnership History
     * Get partnership history for a user (admin only).  Returns all historical partnership decisions for a specific user, including approved, rejected, deferred, and expired requests.  Requires: ADMIN or SYSTEM_ADMIN role
     * @param userId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPartnershipHistoryV1PartnershipHistoryUserIdGet(userId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/partnership/history/{user_id}".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Partnership Metrics
     * Get partnership system metrics (admin only).  Includes: - Total requests, approvals, rejections, deferrals - Approval/rejection/deferral rates - Average pending time - Count of critical aging requests  Requires: ADMIN or SYSTEM_ADMIN role
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPartnershipMetricsV1PartnershipMetricsGet(): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/partnership/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Pending Partnerships
     * List all pending partnership requests (admin only).  Returns list of pending requests with aging status and priority. Useful for admin dashboard to show requests requiring review.  Requires: ADMIN or SYSTEM_ADMIN role
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listPendingPartnershipsV1PartnershipPendingGet(): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/partnership/pending",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
