/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.LLMValidationRequest
import ai.ciris.api.models.SetupCompleteRequest
import ai.ciris.api.models.SuccessResponseDictStrAny
import ai.ciris.api.models.SuccessResponseDictStrStr
import ai.ciris.api.models.SuccessResponseLLMValidationResponse
import ai.ciris.api.models.SuccessResponseListAdapterConfig
import ai.ciris.api.models.SuccessResponseListAgentTemplate
import ai.ciris.api.models.SuccessResponseListLLMProvider
import ai.ciris.api.models.SuccessResponseSetupConfigResponse
import ai.ciris.api.models.SuccessResponseSetupStatusResponse
import ai.ciris.api.models.SuccessResponseListModelsResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SetupApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Complete Setup
     * Complete initial setup.  Saves configuration and creates initial admin user. Only accessible during first-run (no authentication required). After setup, authentication is required for reconfiguration.
     * @param setupCompleteRequest
     * @return SuccessResponseDictStrStr
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun completeSetupV1SetupCompletePost(setupCompleteRequest: SetupCompleteRequest): HttpResponse<SuccessResponseDictStrStr> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setupCompleteRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/setup/complete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Current Config
     * Get current configuration.  Returns current setup configuration for editing. Requires authentication if setup is already completed.
     * @return SuccessResponseSetupConfigResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCurrentConfigV1SetupConfigGet(): HttpResponse<SuccessResponseSetupConfigResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Model Capabilities Endpoint
     * Get CIRIS-compatible LLM model capabilities.  Returns the on-device model capabilities database for BYOK model selection. Used by the wizard&#39;s Advanced settings to show compatible models per provider. This endpoint is always accessible without authentication.  Returns model info including: - CIRIS compatibility requirements (128K+ context, tool use, vision) - Per-provider model listings with capability flags - Tiers (default, fast, fallback, premium) - Recommendations and rejection reasons
     * @return SuccessResponseDictStrAny
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getModelCapabilitiesEndpointV1SetupModelsGet(): HttpResponse<SuccessResponseDictStrAny> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/models",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Provider Models
     * Get CIRIS-compatible models for a specific provider.  Returns models for the given provider with compatibility information. Used by the wizard to populate model dropdown after provider selection.
     * @param providerId
     * @return SuccessResponseDictStrAny
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getProviderModelsV1SetupModelsProviderIdGet(providerId: kotlin.String): HttpResponse<SuccessResponseDictStrAny> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/models/{provider_id}".replace("{" + "provider_id" + "}", "$providerId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Setup Status
     * Check setup status.  Returns information about whether setup is required. This endpoint is always accessible without authentication.
     * @return SuccessResponseSetupStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSetupStatusV1SetupStatusGet(): HttpResponse<SuccessResponseSetupStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Adapters
     * List available adapters.  Returns configuration for available communication adapters. This endpoint is always accessible without authentication.
     * @return SuccessResponseListAdapterConfig
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAdaptersV1SetupAdaptersGet(): HttpResponse<SuccessResponseListAdapterConfig> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/adapters",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Providers
     * List available LLM providers.  Returns configuration templates for supported LLM providers. This endpoint is always accessible without authentication.
     * @return SuccessResponseListLLMProvider
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listProvidersV1SetupProvidersGet(): HttpResponse<SuccessResponseListLLMProvider> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Templates
     * List available agent templates.  Returns pre-configured agent identity templates. This endpoint is always accessible without authentication.
     * @return SuccessResponseListAgentTemplate
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listTemplatesV1SetupTemplatesGet(): HttpResponse<SuccessResponseListAgentTemplate> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/setup/templates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update Config
     * Update configuration.  Updates setup configuration after initial setup. Requires admin authentication.
     * @param setupCompleteRequest
     * @param authorization  (optional)
     * @return SuccessResponseDictStrStr
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateConfigV1SetupConfigPut(setupCompleteRequest: SetupCompleteRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseDictStrStr> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = setupCompleteRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/setup/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Validate Llm
     * Validate LLM configuration.  Tests the provided LLM configuration by attempting a connection. This endpoint is always accessible without authentication during first-run.
     * @param llMValidationRequest
     * @return SuccessResponseLLMValidationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun validateLlmV1SetupValidateLlmPost(llMValidationRequest: LLMValidationRequest): HttpResponse<SuccessResponseLLMValidationResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = llMValidationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/setup/validate-llm",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List Models
     * List available models from provider's live API. Queries the provider's models API using the provided credentials, then cross-references with CIRIS compatibility annotations.
     * @param llMValidationRequest
     * @return SuccessResponseListModelsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listModelsV1SetupListModelsPost(llMValidationRequest: LLMValidationRequest): HttpResponse<SuccessResponseListModelsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = llMValidationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/setup/list-models",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
