/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.CreateTicketRequest
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.SOPMetadataResponse
import ai.ciris.api.models.StandardResponse
import ai.ciris.api.models.TicketResponse
import ai.ciris.api.models.UpdateTicketRequest

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TicketsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Cancel Ticket
     * Cancel/delete a ticket.  Returns:     Success confirmation  Raises:     404: Ticket not found     500: Deletion failed
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun cancelTicketV1TicketsTicketIdDelete(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/tickets/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create New Ticket
     * Create a new ticket.  Validates that the SOP is supported by this agent (organic enforcement). Automatically calculates deadline based on SOP configuration. Initializes metadata with stage structure.  Returns:     Created ticket data  Raises:     501: SOP not supported by this agent     500: Ticket creation failed
     * @param createTicketRequest
     * @return TicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun createNewTicketV1TicketsPost(createTicketRequest: CreateTicketRequest): HttpResponse<TicketResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = createTicketRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/tickets/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Get Sop Metadata
     * Get metadata about a specific Standard Operating Procedure.  Returns:     SOP configuration including stages, required fields, deadline, etc.  Raises:     404: SOP not found/supported
     * @param sop
     * @return SOPMetadataResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSopMetadataV1TicketsSopsSopGet(sop: kotlin.String): HttpResponse<SOPMetadataResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/tickets/sops/{sop}".replace("{" + "sop" + "}", "$sop"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Ticket By Id
     * Get a specific ticket by ID.  Returns:     Ticket data  Raises:     404: Ticket not found
     * @param ticketId
     * @return TicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTicketByIdV1TicketsTicketIdGet(ticketId: kotlin.String): HttpResponse<TicketResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/tickets/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List All Tickets
     * List tickets with optional filters.  Args:     sop: Filter by SOP (e.g., \&quot;DSAR_ACCESS\&quot;)     ticket_type: Filter by type (e.g., \&quot;dsar\&quot;)     status_filter: Filter by status (pending|in_progress|completed|cancelled|failed)     email: Filter by email     limit: Maximum number of results  Returns:     List of matching tickets (sorted by submission date, newest first)
     * @param sop  (optional)
     * @param ticketType  (optional)
     * @param statusFilter  (optional)
     * @param email  (optional)
     * @param limit  (optional)
     * @return kotlin.collections.List<TicketResponse>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listAllTicketsV1TicketsGet(sop: kotlin.String? = null, ticketType: kotlin.String? = null, statusFilter: kotlin.String? = null, email: kotlin.String? = null, limit: kotlin.Int? = null): HttpResponse<kotlin.collections.List<TicketResponse>> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        sop?.apply { localVariableQuery["sop"] = listOf("$sop") }
        ticketType?.apply { localVariableQuery["ticket_type"] = listOf("$ticketType") }
        statusFilter?.apply { localVariableQuery["status_filter"] = listOf("$statusFilter") }
        email?.apply { localVariableQuery["email"] = listOf("$email") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/tickets/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListAllTicketsV1TicketsGetResponse>().map { value }
    }

    @Serializable(ListAllTicketsV1TicketsGetResponse.Companion::class)
    private class ListAllTicketsV1TicketsGetResponse(val value: List<TicketResponse>) {
        companion object : KSerializer<ListAllTicketsV1TicketsGetResponse> {
            private val serializer: KSerializer<List<TicketResponse>> = serializer<List<TicketResponse>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListAllTicketsV1TicketsGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListAllTicketsV1TicketsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * List Supported Sops
     * List all supported Standard Operating Procedures for this agent.  DSAR SOPs are always present (GDPR compliance). Additional SOPs defined in graph config (seeded from template on first run).  Returns:     List of SOP identifiers (e.g., [\&quot;DSAR_ACCESS\&quot;, \&quot;DSAR_DELETE\&quot;, ...])
     * @return kotlin.collections.List<kotlin.String?>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSupportedSopsV1TicketsSopsGet(): HttpResponse<kotlin.collections.List<kotlin.String?>> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/tickets/sops",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<ListSupportedSopsV1TicketsSopsGetResponse>().map { value }
    }

    @Serializable(ListSupportedSopsV1TicketsSopsGetResponse.Companion::class)
    private class ListSupportedSopsV1TicketsSopsGetResponse(val value: List<kotlin.String>) {
        companion object : KSerializer<ListSupportedSopsV1TicketsSopsGetResponse> {
            private val serializer: KSerializer<List<kotlin.String>> = serializer<List<kotlin.String>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: ListSupportedSopsV1TicketsSopsGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = ListSupportedSopsV1TicketsSopsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Update Existing Ticket
     * Update ticket status, metadata, or notes.  Returns:     Updated ticket data  Raises:     404: Ticket not found     500: Update failed
     * @param ticketId
     * @param updateTicketRequest
     * @return TicketResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateExistingTicketV1TicketsTicketIdPatch(ticketId: kotlin.String, updateTicketRequest: UpdateTicketRequest): HttpResponse<TicketResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = updateTicketRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/v1/tickets/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
