/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.CompleteTraceResponse
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ResponseGetSystemStatusV1TransparencyStatusGetValue
import ai.ciris.api.models.TracesListResponse
import ai.ciris.api.models.TransparencyPolicy
import ai.ciris.api.models.TransparencyStats

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TransparencyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Coherence Traces
     * Get captured reasoning traces for Coherence Ratchet corpus.  Returns complete 6-component traces from opted-in agents. Traces include: Observation, Context, Rationale, Conscience, Action, Outcome.  Requires metrics consent to be enabled.
     * @param limit  (optional, default to 10)
     * @return TracesListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCoherenceTracesV1TransparencyTracesGet(limit: kotlin.Int? = 10): HttpResponse<TracesListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/transparency/traces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Latest Trace
     * Get the most recently captured reasoning trace.  Returns the latest complete trace with all 6 components.
     * @return CompleteTraceResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getLatestTraceV1TransparencyTracesLatestGet(): HttpResponse<CompleteTraceResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/transparency/traces/latest",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get System Status
     * Get current system status.  This endpoint can be updated quickly if we need to pause.
     * @return kotlin.collections.Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemStatusV1TransparencyStatusGet(): HttpResponse<kotlin.collections.Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/transparency/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<GetSystemStatusV1TransparencyStatusGetResponse>().map { value }
    }

    @Serializable(GetSystemStatusV1TransparencyStatusGetResponse.Companion::class)
    private class GetSystemStatusV1TransparencyStatusGetResponse(val value: Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>) {
        companion object : KSerializer<GetSystemStatusV1TransparencyStatusGetResponse> {
            private val serializer: KSerializer<Map<kotlin.String, ResponseGetSystemStatusV1TransparencyStatusGetValue>> = serializer<Map<String, ResponseGetSystemStatusV1TransparencyStatusGetValue>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: GetSystemStatusV1TransparencyStatusGetResponse) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = GetSystemStatusV1TransparencyStatusGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * Get Transparency Feed
     * Get public transparency statistics.  No authentication required - this is public information. Returns anonymized, aggregated statistics only.  Args:     hours: Number of hours to report (default 24, max 168/7 days)
     * @param hours  (optional, default to 24)
     * @return TransparencyStats
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTransparencyFeedV1TransparencyFeedGet(hours: kotlin.Int? = 24): HttpResponse<TransparencyStats> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        hours?.apply { localVariableQuery["hours"] = listOf("$hours") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/transparency/feed",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Transparency Policy
     * Get transparency policy information.  Public endpoint describing our transparency commitments.
     * @return TransparencyPolicy
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTransparencyPolicyV1TransparencyPolicyGet(): HttpResponse<TransparencyPolicy> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/transparency/policy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
