/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ResolveDeferralRequest
import ai.ciris.api.models.SuccessResponseDeferralListResponse
import ai.ciris.api.models.SuccessResponsePermissionsListResponse
import ai.ciris.api.models.SuccessResponseResolveDeferralResponse
import ai.ciris.api.models.SuccessResponseWAGuidanceResponse
import ai.ciris.api.models.SuccessResponseWAStatusResponse
import ai.ciris.api.models.WAGuidanceRequest

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class WiseAuthorityApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Deferrals
     * Get list of pending deferrals.  Returns all pending deferrals that need WA review. Can optionally filter by WA ID to see deferrals assigned to a specific authority.  Requires OBSERVER role or higher.
     * @param waId Filter by WA ID (optional)
     * @param authorization  (optional)
     * @return SuccessResponseDeferralListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDeferralsV1WaDeferralsGet(waId: kotlin.String? = null, authorization: kotlin.String? = null): HttpResponse<SuccessResponseDeferralListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        waId?.apply { localVariableQuery["wa_id"] = listOf("$waId") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/wa/deferrals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Permissions
     * Get WA permission status.  Returns permission status for a specific WA. If no WA ID is provided, returns permissions for the authenticated user. This simplified endpoint focuses on viewing permissions only.  Requires OBSERVER role or higher.
     * @param waId WA ID to get permissions for (defaults to current user) (optional)
     * @param authorization  (optional)
     * @return SuccessResponsePermissionsListResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPermissionsV1WaPermissionsGet(waId: kotlin.String? = null, authorization: kotlin.String? = null): HttpResponse<SuccessResponsePermissionsListResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        waId?.apply { localVariableQuery["wa_id"] = listOf("$waId") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/wa/permissions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Wa Status
     * Get current WA service status.  Returns information about the WA service including: - Number of active WAs - Number of pending deferrals - Service health status  Requires OBSERVER role or higher.
     * @param authorization  (optional)
     * @return SuccessResponseWAStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getWaStatusV1WaStatusGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseWAStatusResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/wa/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Request Guidance
     * Request guidance from WA on a specific topic.  This endpoint allows requesting wisdom guidance without creating a formal deferral. Useful for proactive wisdom integration.  Requires OBSERVER role or higher.
     * @param waGuidanceRequest
     * @param authorization  (optional)
     * @return SuccessResponseWAGuidanceResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun requestGuidanceV1WaGuidancePost(waGuidanceRequest: WAGuidanceRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseWAGuidanceResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = waGuidanceRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/wa/guidance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Resolve Deferral
     * Resolve a pending deferral with guidance.  Allows a WA with AUTHORITY role to approve, reject, or modify a deferred decision. The resolution includes wisdom guidance integrated into the decision.  Requires AUTHORITY role.
     * @param deferralId
     * @param resolveDeferralRequest
     * @param authorization  (optional)
     * @return SuccessResponseResolveDeferralResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun resolveDeferralV1WaDeferralsDeferralIdResolvePost(deferralId: kotlin.String, resolveDeferralRequest: ResolveDeferralRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseResolveDeferralResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = resolveDeferralRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/wa/deferrals/{deferral_id}/resolve".replace("{" + "deferral_id" + "}", "$deferralId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
