/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import kotlinx.datetime.Instant

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.InteractRequest
import ai.ciris.api.models.MessageRequest
import ai.ciris.api.models.SuccessResponseAgentIdentity
import ai.ciris.api.models.SuccessResponseAgentStatus
import ai.ciris.api.models.SuccessResponseChannelList
import ai.ciris.api.models.SuccessResponseConversationHistory
import ai.ciris.api.models.SuccessResponseInteractResponse
import ai.ciris.api.models.SuccessResponseMessageSubmissionResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AgentApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Channels
     * List active communication channels.  Get all channels where the agent is currently active or has been active.
     * @param authorization  (optional)
     * @return SuccessResponseChannelList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getChannelsV1AgentChannelsGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseChannelList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/agent/channels",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get History
     * Conversation history.  Get the conversation history for the current user.
     * @param limit Maximum messages to return (optional, default to 50)
     * @param before Get messages before this time (optional)
     * @param authorization  (optional)
     * @return SuccessResponseConversationHistory
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getHistoryV1AgentHistoryGet(limit: kotlin.Int? = 50, before: kotlinx.datetime.Instant? = null, authorization: kotlin.String? = null): HttpResponse<SuccessResponseConversationHistory> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        before?.apply { localVariableQuery["before"] = listOf("$before") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/agent/history",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Identity
     * Agent identity and capabilities.  Get comprehensive agent identity including capabilities, tools, and permissions.
     * @param authorization  (optional)
     * @return SuccessResponseAgentIdentity
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getIdentityV1AgentIdentityGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseAgentIdentity> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/agent/identity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Status
     * Agent status and cognitive state.  Get comprehensive agent status including state, metrics, and current activity.
     * @param authorization  (optional)
     * @return SuccessResponseAgentStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getStatusV1AgentStatusGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseAgentStatus> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/agent/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Interact
     * Send message and get response.  This endpoint combines the old send/ask functionality into a single interaction. It sends the message and waits for the agent&#39;s response (with a reasonable timeout).  Requires: SEND_MESSAGES permission (ADMIN+ by default, or OBSERVER with explicit grant)
     * @param interactRequest
     * @param authorization  (optional)
     * @return SuccessResponseInteractResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun interactV1AgentInteractPost(interactRequest: InteractRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseInteractResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = interactRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/agent/interact",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Submit Message
     * Submit a message to the agent (async pattern - returns immediately).  This endpoint returns immediately with a task_id for tracking or rejection reason. Use GET /agent/history to poll for the agent&#39;s response.  This is the recommended way to interact with the agent via API, as it doesn&#39;t block waiting for processing to complete.  Requires: SEND_MESSAGES permission (ADMIN+ by default, or OBSERVER with explicit grant)
     * @param messageRequest
     * @param authorization  (optional)
     * @return SuccessResponseMessageSubmissionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun submitMessageV1AgentMessagePost(messageRequest: MessageRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseMessageSubmissionResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = messageRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/agent/message",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
