/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import kotlinx.datetime.Instant

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.SuccessResponseAuditEntriesResponse
import ai.ciris.api.models.SuccessResponseAuditEntryDetailResponse
import ai.ciris.api.models.SuccessResponseAuditExportResponse
import ai.ciris.api.models.SuccessResponseVerificationReport

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AuditApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Export Audit Data
     * Export audit data for compliance and analysis.  Exports audit entries in the specified format. For small datasets (&lt; 1000 entries), data is returned inline. For larger datasets, a download URL is provided.  Formats: - **jsonl**: JSON Lines format (one entry per line) - **json**: Standard JSON array - **csv**: CSV format with standard audit fields  Requires ADMIN role or higher.
     * @param startDate Export start date (optional)
     * @param endDate Export end date (optional)
     * @param format Export format (optional, default to "jsonl")
     * @param includeVerification Include verification data in export (optional, default to false)
     * @param authorization  (optional)
     * @return SuccessResponseAuditExportResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun exportAuditDataV1AuditExportPost(startDate: kotlinx.datetime.Instant? = null, endDate: kotlinx.datetime.Instant? = null, format: kotlin.String? = "jsonl", includeVerification: kotlin.Boolean? = false, authorization: kotlin.String? = null): HttpResponse<SuccessResponseAuditExportResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        startDate?.apply { localVariableQuery["start_date"] = listOf("$startDate") }
        endDate?.apply { localVariableQuery["end_date"] = listOf("$endDate") }
        format?.apply { localVariableQuery["format"] = listOf("$format") }
        includeVerification?.apply { localVariableQuery["include_verification"] = listOf("$includeVerification") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/audit/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Audit Entry
     * Get specific audit entry by ID with optional verification.  Returns the audit entry and optionally includes: - Verification status of the entry&#39;s signature and hash - Position in the audit chain - Links to previous and next entries  Requires OBSERVER role or higher.
     * @param entryId Audit entry ID
     * @param verify Include verification information (optional, default to false)
     * @param authorization  (optional)
     * @return SuccessResponseAuditEntryDetailResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAuditEntryV1AuditEntriesEntryIdGet(entryId: kotlin.String, verify: kotlin.Boolean? = false, authorization: kotlin.String? = null): HttpResponse<SuccessResponseAuditEntryDetailResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        verify?.apply { localVariableQuery["verify"] = listOf("$verify") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/audit/entries/{entry_id}".replace("{" + "entry_id" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Query Audit Entries
     * Query audit entries with flexible filtering.  Combines time-based queries, entity filtering, and text search into a single endpoint. Returns paginated results sorted by timestamp (newest first).  Requires OBSERVER role or higher.
     * @param startTime Start of time range (optional)
     * @param endTime End of time range (optional)
     * @param actor Filter by actor (optional)
     * @param eventType Filter by event type (optional)
     * @param entityId Filter by entity ID (optional)
     * @param search Search in audit details (optional)
     * @param severity Filter by severity (info, warning, error) (optional)
     * @param outcome Filter by outcome (success, failure) (optional)
     * @param limit Maximum results (optional, default to 100)
     * @param offset Results offset (optional, default to 0)
     * @param authorization  (optional)
     * @return SuccessResponseAuditEntriesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun queryAuditEntriesV1AuditEntriesGet(startTime: kotlinx.datetime.Instant? = null, endTime: kotlinx.datetime.Instant? = null, actor: kotlin.String? = null, eventType: kotlin.String? = null, entityId: kotlin.String? = null, search: kotlin.String? = null, severity: kotlin.String? = null, outcome: kotlin.String? = null, limit: kotlin.Int? = 100, offset: kotlin.Int? = 0, authorization: kotlin.String? = null): HttpResponse<SuccessResponseAuditEntriesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        startTime?.apply { localVariableQuery["start_time"] = listOf("$startTime") }
        endTime?.apply { localVariableQuery["end_time"] = listOf("$endTime") }
        actor?.apply { localVariableQuery["actor"] = listOf("$actor") }
        eventType?.apply { localVariableQuery["event_type"] = listOf("$eventType") }
        entityId?.apply { localVariableQuery["entity_id"] = listOf("$entityId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        severity?.apply { localVariableQuery["severity"] = listOf("$severity") }
        outcome?.apply { localVariableQuery["outcome"] = listOf("$outcome") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/audit/entries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Search Audit Trails
     * Search audit trails with text search and filters.  This is a convenience endpoint that focuses on search functionality. For more complex queries, use the /entries endpoint.  Requires OBSERVER role or higher.
     * @param searchText Text to search for (optional)
     * @param entityId Filter by entity ID (optional)
     * @param severity Filter by severity (optional)
     * @param outcome Filter by outcome (optional)
     * @param limit Maximum results (optional, default to 100)
     * @param offset Results offset (optional, default to 0)
     * @param authorization  (optional)
     * @return SuccessResponseAuditEntriesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun searchAuditTrailsV1AuditSearchPost(searchText: kotlin.String? = null, entityId: kotlin.String? = null, severity: kotlin.String? = null, outcome: kotlin.String? = null, limit: kotlin.Int? = 100, offset: kotlin.Int? = 0, authorization: kotlin.String? = null): HttpResponse<SuccessResponseAuditEntriesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        searchText?.apply { localVariableQuery["search_text"] = listOf("$searchText") }
        entityId?.apply { localVariableQuery["entity_id"] = listOf("$entityId") }
        severity?.apply { localVariableQuery["severity"] = listOf("$severity") }
        outcome?.apply { localVariableQuery["outcome"] = listOf("$outcome") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/audit/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Verify Audit Entry
     * Verify the integrity of a specific audit entry.  Returns detailed verification information including signature validation and hash chain integrity.  Requires ADMIN role or higher.
     * @param entryId Audit entry ID to verify
     * @param authorization  (optional)
     * @return SuccessResponseVerificationReport
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun verifyAuditEntryV1AuditVerifyEntryIdPost(entryId: kotlin.String, authorization: kotlin.String? = null): HttpResponse<SuccessResponseVerificationReport> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/audit/verify/{entry_id}".replace("{" + "entry_id" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
