/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.MultiSourceDSARRequest
import ai.ciris.api.models.StandardResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DSARMultiSourceApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Cancel Multi Source Request
     * Cancel in-progress multi-source DSAR request.  Note: Current implementation completes requests instantly, so cancellation may not be possible for most requests.
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun cancelMultiSourceRequestV1DsarMultiSourceTicketIdDelete(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v1/dsar/multi-source/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Multi Source Status
     * Get real-time status of multi-source DSAR request.  Returns current progress across all data sources.
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMultiSourceStatusV1DsarMultiSourceTicketIdGet(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dsar/multi-source/{ticket_id}".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Partial Results
     * Get partial results as sources complete.  Returns data from completed sources while others are still processing.  Note: Current implementation completes all sources instantly, but this endpoint supports future async multi-source operations.
     * @param ticketId
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getPartialResultsV1DsarMultiSourceTicketIdPartialGet(ticketId: kotlin.String): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/dsar/multi-source/{ticket_id}/partial".replace("{" + "ticket_id" + "}", "$ticketId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Submit Multi Source Dsar
     * Submit a multi-source Data Subject Access Request (DSAR).  Coordinates GDPR requests across CIRIS + all registered external data sources: - SQL databases - REST APIs - HL7 systems (future)  Requires authentication (admin or authorized user).  Returns aggregated results from all sources.
     * @param multiSourceDSARRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun submitMultiSourceDsarV1DsarMultiSourcePost(multiSourceDSARRequest: MultiSourceDSARRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = multiSourceDSARRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/dsar/multi-source/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Submit Multi Source Dsar
     * Submit a multi-source Data Subject Access Request (DSAR).  Coordinates GDPR requests across CIRIS + all registered external data sources: - SQL databases - REST APIs - HL7 systems (future)  Requires authentication (admin or authorized user).  Returns aggregated results from all sources.
     * @param multiSourceDSARRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun submitMultiSourceDsarV1DsarMultiSourcePost_0(multiSourceDSARRequest: MultiSourceDSARRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>("HTTPBearer")

        val localVariableBody = multiSourceDSARRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/dsar/multi-source",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
