/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.BodyValue
import ai.ciris.api.models.CircuitBreakerResetRequest
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ServicePriorityUpdateRequest
import ai.ciris.api.models.SuccessResponseCircuitBreakerResetResponse
import ai.ciris.api.models.SuccessResponseListProcessorStateInfo
import ai.ciris.api.models.SuccessResponseProcessorQueueStatus
import ai.ciris.api.models.SuccessResponseServiceHealthStatus
import ai.ciris.api.models.SuccessResponseServicePriorityUpdateResponse
import ai.ciris.api.models.SuccessResponseServiceSelectionExplanation
import ai.ciris.api.models.SuccessResponseSingleStepResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class SystemExtensionsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Processing Queue Status
     * Get processing queue status.  Returns information about pending thoughts, tasks, and processing metrics.
     * @param authorization  (optional)
     * @return SuccessResponseProcessorQueueStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getProcessingQueueStatusV1SystemRuntimeQueueGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseProcessorQueueStatus> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/system/runtime/queue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Processor States
     * Get information about all processor states.  Returns the list of available processor states (WAKEUP, WORK, DREAM, PLAY, SOLITUDE, SHUTDOWN) and which one is currently active.
     * @param authorization  (optional)
     * @return SuccessResponseListProcessorStateInfo
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getProcessorStatesV1SystemProcessorsGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseListProcessorStateInfo> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/system/processors",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Service Health Details
     * Get detailed service health status.  Returns comprehensive health information including circuit breaker states, error rates, and recommendations.
     * @param authorization  (optional)
     * @return SuccessResponseServiceHealthStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getServiceHealthDetailsV1SystemServicesHealthGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseServiceHealthStatus> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/system/services/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Service Selection Explanation
     * Get service selection logic explanation.  Returns detailed explanation of how services are selected, including priority groups, priorities, strategies, and circuit breaker behavior.
     * @param authorization  (optional)
     * @return SuccessResponseServiceSelectionExplanation
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getServiceSelectionExplanationV1SystemServicesSelectionLogicGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseServiceSelectionExplanation> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/system/services/selection-logic",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reasoning Stream
     * Stream live H3ERE reasoning steps as they occur.  Provides real-time streaming of step-by-step reasoning for live UI generation. Returns Server-Sent Events (SSE) with step data as processing happens. Requires OBSERVER role or higher.
     * @param authorization  (optional)
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun reasoningStreamV1SystemRuntimeReasoningStreamGet(authorization: kotlin.String? = null): HttpResponse<kotlin.Any> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/system/runtime/reasoning-stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reset Service Circuit Breakers
     * Reset circuit breakers.  Resets circuit breakers for specified service type or all services. Useful for recovering from transient failures. Requires ADMIN role.
     * @param circuitBreakerResetRequest
     * @param authorization  (optional)
     * @return SuccessResponseCircuitBreakerResetResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun resetServiceCircuitBreakersV1SystemServicesCircuitBreakersResetPost(circuitBreakerResetRequest: CircuitBreakerResetRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseCircuitBreakerResetResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = circuitBreakerResetRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/system/services/circuit-breakers/reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Single Step Processor
     * Execute a single processing step.  Useful for debugging and demonstrations. Processes one item from the queue. Always returns detailed H3ERE step data for transparency. Requires ADMIN role.
     * @param authorization  (optional)
     * @param requestBody  (optional)
     * @return SuccessResponseSingleStepResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun singleStepProcessorV1SystemRuntimeStepPost(authorization: kotlin.String? = null, requestBody: kotlin.collections.Map<kotlin.String, BodyValue>? = null): HttpResponse<SuccessResponseSingleStepResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = SingleStepProcessorV1SystemRuntimeStepPostRequest(requestBody ?: emptyMap())

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/system/runtime/step",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    @Serializable(SingleStepProcessorV1SystemRuntimeStepPostRequest.Companion::class)
    private class SingleStepProcessorV1SystemRuntimeStepPostRequest(val value: Map<kotlin.String, BodyValue>) {
        companion object : KSerializer<SingleStepProcessorV1SystemRuntimeStepPostRequest> {
            private val serializer: KSerializer<Map<kotlin.String, BodyValue>> = serializer<Map<String, BodyValue>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: SingleStepProcessorV1SystemRuntimeStepPostRequest) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = SingleStepProcessorV1SystemRuntimeStepPostRequest(serializer.deserialize(decoder))
        }
    }

    /**
     * Update Service Priority
     * Update service provider priority.  Changes the priority, priority group, and/or selection strategy for a service provider. Requires ADMIN role.
     * @param providerName
     * @param servicePriorityUpdateRequest
     * @param authorization  (optional)
     * @return SuccessResponseServicePriorityUpdateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun updateServicePriorityV1SystemServicesProviderNamePriorityPut(providerName: kotlin.String, servicePriorityUpdateRequest: ServicePriorityUpdateRequest, authorization: kotlin.String? = null): HttpResponse<SuccessResponseServicePriorityUpdateResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = servicePriorityUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/v1/system/services/{provider_name}/priority".replace("{" + "provider_name" + "}", "$providerName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
