/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import kotlinx.datetime.Instant

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.SuccessResponse
import ai.ciris.api.models.SuccessResponseDetailedMetric
import ai.ciris.api.models.SuccessResponseLogsResponse
import ai.ciris.api.models.SuccessResponseMetricsResponse
import ai.ciris.api.models.SuccessResponseQueryResponse
import ai.ciris.api.models.SuccessResponseResourceTelemetryResponse
import ai.ciris.api.models.SuccessResponseSystemOverview
import ai.ciris.api.models.SuccessResponseTracesResponse
import ai.ciris.api.models.TelemetryQuery

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class TelemetryApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Get Detailed Metric
     * Get detailed information about a specific metric.  Returns current value, trends, and historical data for the specified metric.
     * @param metricName
     * @param hours Hours of history to include (optional, default to 24)
     * @param authorization  (optional)
     * @return SuccessResponseDetailedMetric
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDetailedMetricV1TelemetryMetricsMetricNameGet(metricName: kotlin.String, hours: kotlin.Int? = 24, authorization: kotlin.String? = null): HttpResponse<SuccessResponseDetailedMetric> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        hours?.apply { localVariableQuery["hours"] = listOf("$hours") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/metrics/{metric_name}".replace("{" + "metric_name" + "}", "$metricName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Detailed Metrics
     * Detailed metrics.  Get detailed metrics with trends and breakdowns by service.
     * @param authorization  (optional)
     * @return SuccessResponseMetricsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getDetailedMetricsV1TelemetryMetricsGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseMetricsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Otlp Telemetry
     * OpenTelemetry Protocol (OTLP) JSON export.  Export telemetry data in OTLP JSON format for OpenTelemetry collectors.  Supported signals: - metrics: System and service metrics - traces: Distributed traces with spans - logs: Structured log records  Returns OTLP JSON formatted data compatible with OpenTelemetry v1.7.0 specification.
     * @param signal
     * @param limit Maximum items to return (optional, default to 100)
     * @param startTime Start of time range (optional)
     * @param endTime End of time range (optional)
     * @param authorization  (optional)
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getOtlpTelemetryV1TelemetryOtlpSignalGet(signal: kotlin.String, limit: kotlin.Int? = 100, startTime: kotlinx.datetime.Instant? = null, endTime: kotlinx.datetime.Instant? = null, authorization: kotlin.String? = null): HttpResponse<kotlin.Any> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        startTime?.apply { localVariableQuery["start_time"] = listOf("$startTime") }
        endTime?.apply { localVariableQuery["end_time"] = listOf("$endTime") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/otlp/{signal}".replace("{" + "signal" + "}", "$signal"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Reasoning Traces
     * Reasoning traces.  Get reasoning traces showing agent thought processes and decision-making.
     * @param limit Maximum traces to return (optional, default to 10)
     * @param startTime Start of time range (optional)
     * @param endTime End of time range (optional)
     * @param authorization  (optional)
     * @return SuccessResponseTracesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getReasoningTracesV1TelemetryTracesGet(limit: kotlin.Int? = 10, startTime: kotlinx.datetime.Instant? = null, endTime: kotlinx.datetime.Instant? = null, authorization: kotlin.String? = null): HttpResponse<SuccessResponseTracesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        startTime?.apply { localVariableQuery["start_time"] = listOf("$startTime") }
        endTime?.apply { localVariableQuery["end_time"] = listOf("$endTime") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/traces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Resource History
     * Get historical resource usage data.  Returns time-series data for resource usage over the specified period.
     * @param hours Hours of history (optional, default to 24)
     * @param authorization  (optional)
     * @return SuccessResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getResourceHistoryV1TelemetryResourcesHistoryGet(hours: kotlin.Int? = 24, authorization: kotlin.String? = null): HttpResponse<SuccessResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        hours?.apply { localVariableQuery["hours"] = listOf("$hours") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/resources/history",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Resource Telemetry
     * Get current resource usage telemetry.  Returns CPU, memory, disk, and other resource metrics.
     * @param authorization  (optional)
     * @return SuccessResponseResourceTelemetryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getResourceTelemetryV1TelemetryResourcesGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseResourceTelemetryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/resources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get System Logs
     * System logs.  Get system logs from all services with filtering capabilities.
     * @param startTime Start of time range (optional)
     * @param endTime End of time range (optional)
     * @param level Log level filter (optional)
     * @param service Service filter (optional)
     * @param limit Maximum logs to return (optional, default to 100)
     * @param authorization  (optional)
     * @return SuccessResponseLogsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSystemLogsV1TelemetryLogsGet(startTime: kotlinx.datetime.Instant? = null, endTime: kotlinx.datetime.Instant? = null, level: kotlin.String? = null, service: kotlin.String? = null, limit: kotlin.Int? = 100, authorization: kotlin.String? = null): HttpResponse<SuccessResponseLogsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        startTime?.apply { localVariableQuery["start_time"] = listOf("$startTime") }
        endTime?.apply { localVariableQuery["end_time"] = listOf("$endTime") }
        level?.apply { localVariableQuery["level"] = listOf("$level") }
        service?.apply { localVariableQuery["service"] = listOf("$service") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/logs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Telemetry Overview
     * System metrics summary.  Comprehensive overview combining telemetry, visibility, incidents, and resource usage.
     * @param authorization  (optional)
     * @return SuccessResponseSystemOverview
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getTelemetryOverviewV1TelemetryOverviewGet(authorization: kotlin.String? = null): HttpResponse<SuccessResponseSystemOverview> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/overview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Unified Telemetry
     * Unified enterprise telemetry endpoint.  This single endpoint replaces 78+ individual telemetry routes by intelligently aggregating metrics from all 22 required services using parallel collection.  Features: - Parallel collection from all services (10x faster than sequential) - Smart caching with 30-second TTL - Multiple views for different stakeholders - System health and reliability scoring - Export formats for monitoring tools  Examples: - /telemetry/unified?view&#x3D;summary - Executive dashboard - /telemetry/unified?view&#x3D;health - Quick health check - /telemetry/unified?view&#x3D;operational&amp;live&#x3D;true - Live ops data - /telemetry/unified?view&#x3D;reliability - System reliability metrics - /telemetry/unified?category&#x3D;buses - Just bus metrics - /telemetry/unified?format&#x3D;prometheus - Prometheus export
     * @param view View type: summary|health|operational|detailed|performance|reliability (optional, default to "summary")
     * @param category Filter by category: buses|graph|infrastructure|governance|runtime|adapters|components|all (optional)
     * @param format Output format: json|prometheus|graphite (optional, default to "json")
     * @param live Force live collection (bypass cache) (optional, default to false)
     * @param authorization  (optional)
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getUnifiedTelemetryV1TelemetryUnifiedGet(view: kotlin.String? = "summary", category: kotlin.String? = null, format: kotlin.String? = "json", live: kotlin.Boolean? = false, authorization: kotlin.String? = null): HttpResponse<kotlin.Any> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        view?.apply { localVariableQuery["view"] = listOf("$view") }
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        format?.apply { localVariableQuery["format"] = listOf("$format") }
        live?.apply { localVariableQuery["live"] = listOf("$live") }
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/telemetry/unified",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Query Telemetry
     * Custom telemetry queries.  Execute custom queries against telemetry data including metrics, traces, logs, incidents, and insights. Requires ADMIN role.
     * @param telemetryQuery
     * @param authorization  (optional)
     * @return SuccessResponseQueryResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun queryTelemetryV1TelemetryQueryPost(telemetryQuery: TelemetryQuery, authorization: kotlin.String? = null): HttpResponse<SuccessResponseQueryResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = telemetryQuery

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/telemetry/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
