/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.AllToolBalancesResponse
import ai.ciris.api.models.AvailableToolsResponse
import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ToolBalanceResponse
import ai.ciris.api.models.ToolCreditCheckResponse
import ai.ciris.api.models.ToolPurchaseRequest
import ai.ciris.api.models.ToolPurchaseResponse

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ToolsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Check Tool Credit
     * Quick credit check for a tool.  Lightweight endpoint to check if user has credit for a specific tool. Requires Google Sign-In authentication.
     * @param toolName
     * @param authorization  (optional)
     * @return ToolCreditCheckResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun checkToolCreditV1ApiToolsCheckToolNameGet(toolName: kotlin.String, authorization: kotlin.String? = null): HttpResponse<ToolCreditCheckResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/tools/check/{tool_name}".replace("{" + "tool_name" + "}", "$toolName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get All Tool Balances
     * Get balance for all tools.  Returns the user&#39;s credit balance for all available tools. Requires Google Sign-In authentication.
     * @param authorization  (optional)
     * @return AllToolBalancesResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAllToolBalancesV1ApiToolsBalanceGet(authorization: kotlin.String? = null): HttpResponse<AllToolBalancesResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/tools/balance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Available Tools
     * Get list of available tools for this platform.  Returns tools available based on current platform capabilities. Some tools require specific platform features (e.g., Google Play Services).
     * @param authorization  (optional)
     * @return AvailableToolsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getAvailableToolsV1ApiToolsAvailableGet(authorization: kotlin.String? = null): HttpResponse<AvailableToolsResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/tools/available",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Tool Balance
     * Get balance for a specific tool.  Returns the user&#39;s credit balance for the specified tool (e.g., web_search). Requires Google Sign-In authentication.
     * @param toolName
     * @param authorization  (optional)
     * @return ToolBalanceResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getToolBalanceV1ApiToolsBalanceToolNameGet(toolName: kotlin.String, authorization: kotlin.String? = null): HttpResponse<ToolBalanceResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/api/tools/balance/{tool_name}".replace("{" + "tool_name" + "}", "$toolName"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Verify Tool Purchase
     * Verify and process a Google Play tool credit purchase.  After a successful Google Play purchase, the app should call this endpoint with the purchase token to verify the purchase and grant credits. Requires Google Sign-In authentication.
     * @param toolPurchaseRequest
     * @param authorization  (optional)
     * @return ToolPurchaseResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun verifyToolPurchaseV1ApiToolsPurchasePost(toolPurchaseRequest: ToolPurchaseRequest, authorization: kotlin.String? = null): HttpResponse<ToolPurchaseResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = toolPurchaseRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        authorization?.apply { localVariableHeaders["authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/api/tools/purchase",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
