/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.ciris.api.apis

import ai.ciris.api.models.HTTPValidationError
import ai.ciris.api.models.ManualSignatureVerificationRequest
import ai.ciris.api.models.StandardResponse
import ai.ciris.api.models.VerifyDeletionRequest

import ai.ciris.api.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class VerificationApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Download Public Key
     * Download RSA public key.  NO AUTHENTICATION REQUIRED - Public keys are public by design.  Users can download the public key to manually verify deletion signatures.
     * @param keyId
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun downloadPublicKeyV1VerificationKeysKeyIdPubGet(keyId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/verification/keys/{key_id}.pub".replace("{" + "key_id" + "}", "$keyId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Get Current Public Key Info
     * Get current public key information.  NO AUTHENTICATION REQUIRED - Public key metadata is public.  Returns the current public key ID and download URL.
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getCurrentPublicKeyInfoV1VerificationKeysCurrentGet(): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/verification/keys/current",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Manual Signature Verification
     * Manual signature verification endpoint.  NO AUTHENTICATION REQUIRED - For manual verification using external tools.  Users can verify signatures manually by: 1. Computing hash of deletion data 2. Verifying RSA-PSS signature using public key 3. Comparing with this endpoint&#39;s result  This endpoint helps users who want to verify independently.
     * @param manualSignatureVerificationRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun manualSignatureVerificationV1VerificationVerifySignaturePost(manualSignatureVerificationRequest: ManualSignatureVerificationRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = manualSignatureVerificationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/verification/verify-signature",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Public Verification Page
     * Public verification page (HTML).  NO AUTHENTICATION REQUIRED - Anyone can view.  Provides a human-readable page showing deletion proof verification.
     * @param deletionId
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicVerificationPageV1VerificationPublicDeletionIdGet(deletionId: kotlin.String): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/verification/public/{deletion_id}".replace("{" + "deletion_id" + "}", "$deletionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Verify Deletion Proof
     * Verify cryptographic deletion proof.  NO AUTHENTICATION REQUIRED - Public verification endpoint.  Users can verify that their data was actually deleted by checking the RSA-PSS signature on the deletion proof.  Returns verification result with signature validity.
     * @param verifyDeletionRequest
     * @return StandardResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun verifyDeletionProofV1VerificationDeletionPost(verifyDeletionRequest: VerifyDeletionRequest): HttpResponse<StandardResponse> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = verifyDeletionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v1/verification/deletion",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
